.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: transparent;
}
.logo{
    position: fixed;
    left: 2rem;
    width: 4rem;
}
.avatar{
    position: fixed;
    right: 2rem;
    width: 2rem;
}